.loader {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    background: #e1f3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    top: 0;
    left: 0;
}

.loader img {
    max-width: 200px;
}