* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: hsl(0, 0%, 5%);
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	background: hsl(192.5deg 66.67% 92.94% / 47%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.ancho {
	position: relative !important;
	width: 100vw;
	height: calc((10 / 20) * 112vw);
	left: calc(50% - 50vw);
	top: calc(50% - (((10 / 20) * 110vw) / 2));
}

@media (min-width: 1024px) and (max-width: 1200px) {
	.ancho {
		top: calc(50% - (((10 / 16) * 91vw) / 2));
	}
}

.alto {
	width: calc((20 / 10) * 88vh);
	height: 100vh;
	top: calc(50% - 50vh);
	left: calc(50% - (((20 / 10) * 88vh) / 2));
}

.container {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.abs {
	position: absolute;
}

.back {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.portada {
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-image: url(https://eml.com.co/elearning_nutri_baby/portada1.jpg);
}

.btn1 {
	position: absolute;
	width: 7%;
	height: 10%;
	right: 1.5%;
	top: 87%;
	cursor: pointer;
	z-index: 10;
}

.titulo {
	position: absolute;
	width: 67%;
	left: 8%;
	top: 25%;
}

.titulo img {
	width: 100%;
	height: 100%;
}

/* Animacion nube  */
.nube {
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
	animation: ondas 3s ease-in-out infinite;
}

@keyframes ondas {
	0%,
	100% {
		transform: skewX(0deg);
	}
	50% {
		transform: skewX(3deg);
	}
}

.nube img {
	width: 100%;
	height: 100%;
}
/* Animacion nube  */

/* Animacion avion */
.avion {
	position: absolute;
	width: 23%;
	right: -3.6%;
	top: -2%;
	animation: vueloCompleto 3s ease-in-out infinite;
}

/* Flotar + menear + vibración de despegue */
@keyframes vueloCompleto {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	10% {
		transform: translate(2px, -3px) rotate(2deg);
	}
	25% {
		transform: translate(-1px, -6px) rotate(3deg);
	}
	40% {
		transform: translate(1px, -9px) rotate(0deg);
	}
	50% {
		transform: translate(-2px, -12px) rotate(-2deg);
	}
	65% {
		transform: translate(2px, -9px) rotate(-3deg);
	}
	75% {
		transform: translate(-1px, -6px) rotate(0deg);
	}
	90% {
		transform: translate(1px, -3px) rotate(2deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

.avion img {
	width: 100%;
	height: 100%;
}
/* Animacion avion */

/* animacion hondas */
.hondas {
	position: absolute;
	width: 100%;
	right: -0.1%;
	top: 93%;
	overflow: hidden;
}

.hondas img {
	width: 110%; /* un poquito más ancha para evitar espacios blancos */
	height: 100%;
	display: block;
	animation: gentleSide 12s ease-in-out infinite;
}

/* Movimiento suave de lado a lado */
@keyframes gentleSide {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(
			-5%
		); /* se mueve solo un poquito a la izquierda */
	}
}
/* animacion hondas */

/* animacion bnoton */
.boton {
	position: absolute;
	width: 8.3%;
	right: 0.9%;
	top: 85.9%;
	z-index: 10;
}

.boton img {
	width: 100%;
	height: 100%;
	display: block;
	animation: breathe 3s ease-in-out infinite;
}

.boton2 {
	position: absolute;
	width: 8.3%;
	left: 0.9%;
	top: 85.9%;
	z-index: 10;
}

.boton2 img {
	width: 100%;
	height: 100%;
	display: block;
	animation: breathe 3s ease-in-out infinite;
}

/* Halo expansivo */
.boton::before {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.2);
	filter: blur(12px);
	transform: scale(0.9);
	animation: halo 3s ease-in-out infinite;
	z-index: -1;
}

@keyframes breathe {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.07);
	}
}

@keyframes halo {
	0%,
	100% {
		transform: scale(0.9);
		opacity: 0.3;
	}
	50% {
		transform: scale(1.2);
		opacity: 0.6;
	}
}
/* animacion bnoton */

/* hamburgue */
.hamburguesa {
	position: absolute;
	width: 8%;
	left: 2%;
	top: 3%;
}

.hamburguesa img {
	width: 100%;
	height: 100%;
}
/* hamburgue */

@media screen and (max-width: 500px) {
}

.mobile {
	height: 100dvh;
	align-items: center;
}

.mobile-container {
	position: relative;
}
